# Core dependencies
python-dotenv==1.0.1
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
tqdm==4.67.1
requests==2.32.3

# PyTorch (CPU version for Streamlit Cloud)
torch==2.5.1

# NLP and ML
sentence-transformers==2.2.2
transformers==4.42.4
tokenizers==0.19.1

# Graph processing
networkx==3.3

# Web app
streamlit==1.37.0
streamlit-option-menu==0.3.6

# Data processing and validation
pyyaml==6.0.1
pydantic==2.8.2
python-dateutil==2.9.0
typing-extensions==4.12.2

# Visualization
matplotlib==3.9.2
plotly==5.24.0

# Utility
joblib==1.4.2
urllib3==2.2.3
wget==3.2
scipy==1.13.1
loguru==0.7.2
pathlib==1.0.1
pyarrow==17.0.0
fastparquet==2024.5.0
dask==2024.6.2
pandas-profiling==3.6.6
orjson==3.10.6
rich==13.9.1
filetype==1.2.0
python-magic==0.4.27

# Therapeutics Data Commons
PyTDC==0.3.9
